/*
Name: style.css
Beschreibung: CSS-Datei
Version: 1.0
*/

/* ################ STANDARDEINSTELLUNGEN ################### */
body{
    font-family: 'Roboto', sans-serif;
    background-color: #e3e3e3;
}

h1, p {
    margin: 0;
}

/* ################ HEADER ################### */

/* Header ---------- */
header{
    width:100%;
    background-color: rgb(255, 255, 255);
}

header .flex-box-sm {
    height: 110px;
    align-items: center;
}

/* Logo ---------- */
header .logo img{
    height: 95px;
}

/* Menu-Button ---------- */
header .menu .mobile-button {
    display: none;
}

/* Menü ---------- */
header .menu{ 
    text-align: right;
    font-size: 20px;
}

header .menu  ul  li {                    
    list-style: none;
    display: inline;
    margin: 0 0 0 35px; 
}

header .menu  ul  li  ul {               /* test */
    display: none;
}

header .menu ul li:first-child {
    margin: 0;
}

header .menu ul li a{
    color: rgb(255, 128, 0);
    white-space: nowrap;
    text-decoration: none;
    transition: all 500ms;
    border-bottom: solid 1px rgb(255, 255, 255, 0);
    position: relative;
    top: 0;
}

header .menu ul li a:hover {
    border-bottom: solid 1px rgb(255, 128, 0, 0.15);
    top: 3px;
}

header .menu  ul  li:hover  ul {              /* test */
    display:block;
    position: absolute;
}                        

header .menu  ul  li  ul  li {                  /* test */
    position: relative;
}

/* ################ BANNER & INHALT ################### */

/* Banner ---------- */
.banner {
    width: 100%;
    height: 300px;
    background-image: url(../images/foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;              /* komplette Fläche wird mit dem Bild ausgefüllt */
    background-position: center;         /* Bild orientiert sich in der Mitte beim Verschieben der Fenstergröße */
}

.banner .overlay{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(227,227,227, 0.01) 20%, rgba(227,227,227, 0.8) 100%)
}

.banner h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Satisfy', cursive;
    font-size: 70px;
    padding-top: 100px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}


/* Inhalt ---------- */
.inhalt .flex-box-sm {
    background-color: #fff;
    margin: -60px 15px 60px 15px;
    padding: 40px 15px 40px 15px;
    width: auto;
    box-shadow: 0 0 0 15px 0 rgba(0, 0, 0, 0.25);
}

.inhalt .sm-box-04 {
    margin: -60px 15px 60px 15px;
    padding: 40px 15px 40px 15px;
}

.inhalt .bild  ul  li {                    
    margin: 0px 60px 0px 60px;
    padding: 0px 60px 0px 60px;
    list-style: none;
    display: inline;
    
}

.inhalt .bild ul li a{
    color: rgb(255, 128, 0);
    white-space: nowrap;
    text-decoration: none;
    transition: all 500ms;
    border-bottom: solid 1px rgb(255, 255, 255, 0);
    position: relative;
    top: 0;
}

.inhalt .bild ul li a:hover {
    top: 10px;
}

.inhalt p {
    text-align: justify;
    color: #444444;
    line-height: 1.5;    
}

.karte{
   padding-left: 150px;
}


/* ################# FOOTER ################# */
footer {
    width: 100%;
    background-color: rgb(255, 128, 0);
    color: #fff;
}
footer .flex-box-sm {
    height: 45px;
    align-items: center;
}
footer .rechtliches {
    text-align: right;
}
footer .rechtliches ul li {
    margin-left:10px;
    list-style: none;
    display: inline;
}
footer .rechtliches ul li:last-child {
    margin-left: 10px;
}
footer .rechtliches ul li a {
    color: #fff;
    text-decoration: none;
}
footer .rechtliches ul li a:hover {
    text-decoration: underline;
}